<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>z-admin</title>
    <link rel="stylesheet" type="text/css" href="/static/zui/css/zui.css">
    <link rel="stylesheet" type="text/css" href="/static/zui/css/theme/zui-theme-green.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/zui/js/zui.js"></script>
    <script src="{% static '/js/admin.js' %}"></script>
</head>
<body>
<div id="ts">
    <div class="panel-heading"><h5>虚拟机管理</h5></div>
    <div id="sasa" class="panel-body">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th width="40" class="text-center"><input type="checkbox" name="checkbox"></th>
                <th width="50" class="text-center">系统</th>
                <th width="30">主机</th>
                <th width="200" class="text-center">IP地址</th>
                <th width="140" class="text-center">CPU/MHz</th>
                <th width="140" class="text-center">内存/MB</th>
                <th width="140" class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for vm in vms %}
                {% if not vm.vm_ob.config.template %}
                    <tr>
                        <td class="text-center"><input type="checkbox" name="checkbox"></td>
                        <td class="text-center">
                            {% if vm.vm_ob.guest.guestFamily == "windowsGuest" %}
                                Windows
                            {% elif vm.vm_ob.guest.guestFamily == "linuxGuest" %}
                                Linux
                            {% endif %}
                        </td>
                        <td>{{ vm.vm_ob.summary.config.name }}</td>
                        <td class="text-center">{{ vm.vm_ob.summary.guest.ipAddress }}</td>
                        <td class="text-center">{{ vm.vm_ob.summary.quickStats.overallCpuUsage }}/{{ vm.vm_ob.summary.runtime.maxCpuUsage }}</td>
                        <td class="text-center">{{ vm.vm_ob.summary.quickStats.guestMemoryUsage }}/{{ vm.vm_ob.summary.runtime.maxMemoryUsage }}</td>
                        <td class="text-center">
                            {% if vm.vm_ob.summary.runtime.powerState|length > 9 %}
                                <button type="button" id="poweron" class="btn btn-sm btn-success"><i
                                        class="icon-play"></i>
                                    打开
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-sm btn-danger"><i class="icon-off"></i>
                                    关机
                                </button>
                                <button type="button" class="btn btn-sm btn-danger"><i class="icon-refresh"></i>
                                    重启
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th width="40" class="text-center"><input type="checkbox" name="checkbox"></th>
                <th colspan="8">
                    <button type="button" class="btn btn-danger"><i class="icon-trash"></i> 删除</button>
                    <div class="pull-right">
                        <ul class="pager">
                            <li class="previous"><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li class="next"><a href="#">»</a></li>
                        </ul>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

</body>
</html>