{% extends "layout.html" %}
{% block page_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/createvm.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
{% endblock %}
{% block title %}创建虚拟机{% endblock %}
    {% block page_js %}<script type="text/javascript" src="/static/js/common.js"></script>{% endblock %}

{% block block_mnt_create %}<a style="color: #43a047" href="/backend/createvm">创建虚拟机</a>{% endblock %}

{% block main %}
<div class="app_vm">
<div class="panel-heading"><h5>虚拟机申请</h5></div>
    <form class="create_f" method='POST' action="/backend/createvm/">
        {% csrf_token %}
        <div class="form-group">
            <label>虚拟机名字</label>
            <input type="text" class="form-control" placeholder="虚拟机名字" name="vm_name">
        </div>
        <div class="form-group">
            <label >虚拟机密码</label>
            <input type="password" class="form-control" placeholder="虚拟机密码" name="vm_password">
        </div>
        <div class="form-group">
            <label>虚拟机系统</label>
            <select class="form-control"  name="vm_os">
                    <option value="Centos68">Centos 6.8</option>
                    <option value="Centos7">Centos 7</option>
                    <option value="WinXP">Windows Xp</option>
                    <option value="Win7 sp1">Windows 7</option>
                    <option value="Win10">Windows 10</option>
                    <option value="WinServer2008 R2">Windows Server 2008 DataBase</option>
                    <option value="WinServer2012 R2">Windows Server 2012 DataBase</option>
            </select>
        </div>
        <div class="form-group">
            <label >CPU</label>
            <select class="form-control"  name="vm_cpu">
                <option value="1">1核 * 2GHz</option>
                <option value="2">2核 * 2GHz</option>
                <option value="4">4核 * 2GHz</option>
            </select>
        </div>
        <div class="form-group">
            <label >内存</label>
            <select class="form-control"  name="vm_memory">
                <option value="1">1GB</option>
                <option value="2">2GB</option>
                <option value="4">4GB</option>
            </select>
        </div>
        <div class="form-group">
            <label >硬盘</label>
            <select class="form-control"  name="vm_disks">
                <option value="20">20GB</option>
                <option value="40">40GB</option>
                <option value="60">60GB</option>
            </select>
        </div>
        <div class="form-group">
            <label >虚拟机类型</label>
            <select class="form-control"  name="vm_type">
                <option value="0">系统管理</option>
                <option value="1">生产环境</option>
                <option value="2">实验环境</option>
            </select>
        </div>
        <div class="form-group">
            <label>虚拟机用途</label>
            <textarea name="vm_purpose" class="form-control" rows="2" placeholder="For Study..."></textarea>
        </div>
      <button type="submit" class="btn btn-primary">提交</button>
    </form>
</div>
{% endblock %}