{% extends "layout.html" %}
{% block page_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
{% endblock %}
{% block page_js %}
    <script type="text/javascript" src="/static/js/power.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
{% endblock %}
{% block title %}申请虚拟机{% endblock %}


{% block main %}
<div id="listvmm">
    <div class="panel-heading"><h5>虚拟机管理</h5></div>
<div class="panel-body">
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th width="40" class="text-center"><input type="checkbox" name="checkbox"></th>
            <th width="50" class="text-center">系统</th>
            <th width="140" class="text-center">CPU/MHz</th>
            <th width="140" class="text-center">内存/MB</th>
            <th width="150" class="text-center">申请人</th>
            <th width="140" class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>


        </tbody>
            <tfoot>
            <tr>
                <th width="40" class="text-center"><input type="checkbox" name="checkbox"></th>
                <th colspan="8">
                    <button type="button" class="btn btn-danger"><i class="icon-trash"></i> 删除</button>
                    <div class="pull-right">
                        <ul class="pager">
                            <li class="previous"><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li class="next"><a href="#">»</a></li>
                        </ul>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}