<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理员</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="/static/zui/css/zui.css">
    <link rel="stylesheet" type="text/css" href="/static/zui/css/theme/zui-theme-green.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/zui/lib/bootbox/bootbox.css">
    <script type="text/javascript" src="/static/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/zui/js/zui.js"></script>
    <script type="text/javascript" src="/static/zui/lib/bootbox/bootbox.js"></script>

</head>

<body>
<div class="main">
    <header class="header">
        <div class="header-left">
            <div class="sidebar-toggle"><i class="icon icon-bars"></i></div>
            <div class="logo"><span class="text-primary">简云虚拟化</span></div>
        </div>
        <div class="header-search">
            <form method="post">
                <div class="search-group">
                    <i class="icon icon-search"></i>
                    <input type="text" class="form-control" placeholder="搜点什么吧...">
                </div>
            </form>
        </div>
        <div class="header-user">
            <div class="item dropdown">
                <span class="badge label label-dot label-danger"></span>
                <i class="icon icon-comments"></i>
            </div>
            <div class="item dropdown">
                <span class="badge label label-dot label-warning"></span>
                <i class="icon icon-bell-alt"></i>
            </div>
            <div class="item dropdown">
				<span data-toggle="dropdown">
					<i class="icon icon-user"></i>
					<span>管理员名</span>
					<span class="caret"></span>
				</span>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#myModal">修改资料</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" id="logout">注销</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>



    <aside class="sidebar">
        <div class="sidebar-menu">
            <div class="item active">
                <a href="#">
                    <i class="icon icon-dashboard"></i>
                    <span>主页 </span>
                </a>
            </div>
            <div class="item vertical">
                <a href="#">
                    <i class="icon icon-bell-alt"></i>
                    <span>虚拟机</span>
                    <span class="arrow"></span>
                </a>
                <div class="vertical-menu">
                    <a href="#">分类一</a>
                    <a href="#">分类二</a>
                    <a href="#">分类三</a>
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <i class="icon icon-cogs"></i>
                    <span>用户管理</span>
                </a>
            </div>
        </div>
    </aside>



    <div class="main-content">
        <div class="wrapper">
            <ol class="breadcrumb">
                <li><a href="#"><i class="icon icon-home"></i> 主页</a></li>
            </ol>
            <div class="panel">
                <div class="panel-heading"><h5>主页</h5></div>
                <div class="panel-body">
                    <div class="alert with-icon">
                        <i class="icon-star"></i>
                        <div class="content">
                            <h4>总数</h4>
                            <hr>
                            <p>目前总数</p>
                        </div>
                    </div>
                    <div class="alert with-icon">
                        <i class="icon-th-large"></i>
                        <div class="content">
                            <h4>正在运行</h4>
                            <hr>
                            <p>正在运行</p>
                        </div>
                    </div>
                    <div class="alert with-icon">
                        <i class="icon-checked"></i>
                        <div class="content">
                            <h4>申请</h4>
                            <hr>
                            <p>待处理的申请</p>
                        </div>
                    </div>
                    <div class="alert with-icon">
                        <i class="icon-info-sign"></i>
                        <div class="content">
                            <h4>故障</h4>
                            <hr>
                            <p>待解决的故障</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static '/js/admin.js' %}"></script>
</body>
</html>