{% extends "layout.html" %}
{% block page_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
{% endblock %}
    {% block page_js %}<script type="text/javascript" src="/static/js/common.js"></script>{% endblock %}

{% block title %}修改资料{% endblock %}




{% block main %}
<div id="modifyinfo">
    <div class="panel-heading"><h5>修改信息</h5></div>
<div class="panel-body">
    <form action="/change/" method="POST">
        <div class="form-group">
            <label>工号</label>
            <input type="text" class="form-control" placeholder="工号">
        </div>
        <div class="form-group">
            <label>原密码</label>
            <input type="password" class="form-control" placeholder="原密码">
        </div>
        <div class="form-group">
            <label>新密码</label>
            <input type="password" class="form-control" placeholder="新密码">
        </div>
        <div class="form-group">
            <label>确认密码</label>
            <input type="password" class="form-control" placeholder="确认新密码">
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
    </div>
</div>
{% endblock %}