{% extends "layout.html" %}
{% block page_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
{% endblock %}
    {% block page_js %}<script type="text/javascript" src="/static/js/common.js"></script>{% endblock %}

{% block block_sidebar %}
            <div class="sidebar-menu">
                <div class="item">
                    <a href="/backend/index">
                        <i class="icon icon-dashboard"></i>
                        <span>主页 </span>
                    </a>
                </div>
                <div class="item vertical">
                        <a href="#" >
                            <i class="icon icon-bell-alt"></i>
                            <span>虚拟机管理</span>
                            <span class="arrow"></span>
                        </a>
                        <div class="vertical-menu">
                            <a href="/backend/list">虚拟机</a>
                            <a href="/backend/createvm">创建虚拟机</a>
                            <a href="/backend/application">待处理申请</a>
                            <a href="/backend/log">虚拟机日志</a>
                        </div>
                        </div>
                <div class="item vertical active open">
                    <a href="#">
                        <i class="icon icon-cogs"></i>
                        <span>用户管理</span>
                        <span class="arrow"></span>
                    </a>
                    <div class="vertical-menu">
                        <a style="color: #43a047" href="/backend/userinfo">用户信息</a>
                        <a href="/backend/lockuser">锁定用户</a>
                    </div>
                </div>
                <div class="item">
                    <a href="/backend/modify" >
                        <i class="icon icon-cogs"></i>
                        <span>修改资料</span>
                    </a>
                </div>
            </div>
            {% endblock %}


{% block main %}
    <div id="userinfo">
        <div class="panel-heading"><h5>用户信息</h5></div>
        <div class="panel-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th width="40" class="text-center"><input type="checkbox" name="checkbox"></th>
                    <th width="50" class="text-center">工号</th>
                    <th>姓名</th>
                    <th width="200" class="text-center">拥有虚拟机</th>
                    <th width="140" class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for use in users %}
                    <tr id="r{{ forloop.counter }}">
                        <td class="text-center">
                            <input type="checkbox" name="checkbox" value="{{ use}}">
                        </td>
                        <td>{{ use.user.user_id }}</td>
                        <td class="text-center">{{use.user.real_name }}</td>

                        <td class="text-center">{{ use.vm_list | length }}</td>
                        <td class="text-center">{{ use.user.user_id }}</td>

                    </tr>

                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th width="40" class="text-center"><input type="checkbox" name="checkbox"></th>
                    <th colspan="8">
                        <button type="button" class="btn btn-danger"><i class="icon-trash"></i> 删除</button>
                        <div class="pull-right">
                            <ul class="pager">
                                <li class="previous"><a href="#">«</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li class="next"><a href="#">»</a></li>
                            </ul>
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}