﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" user-scalable=no>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static '/zui/css/zui.css' %}"/>
    <script src="{% static '/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/jquery.form.js' %}"></script>
    <script src="{% static '/zui/js/zui.js' %}"></script>
    <script src="{% static '/zui/lib/bootbox/bootbox.min.js' %}"></script>
    <title>登录云管理平台</title>
</head>
<body>
<div id="dl">
    <form action='' method='POST' class="form-horizontal dlfrom">
        {% csrf_token %}
        <span class="title">虚拟机云管理平台</span>
        <div class="form-group u">
            <label class="col-sm-2 ulable">账号</label>
            <div class="col-md-6 col-sm-10">
                <input type="text" class="form-control" data-toggle="usertip" placeholder="电子邮件/手机号/用户名" name="user_id">
            </div>
            <button class="register" type="button" data-toggle="modal" data-target="#reg">注册账号</button>
        </div>
        <div class="form-group">
            <label class="col-sm-2 ulable">密码</label>
            <div class="col-md-6 col-sm-10">
                <input type="password" id="user_password" data-toggle="passtip" class="form-control" placeholder="密码"
                       name="user_password">
            </div>
            <button type="button" class="forget" data-toggle="modal" data-target="#for">忘记密码</button>
        </div>
        <div class="form-group">
            <label class="col-sm-2 ulable">验证码</label>
            <div class="col-md-6 col-sm-10">
                <input type="text" id="id_captcha_1" data-toggle="captip" class="form-control" name="captcha_1"
                       placeholder="验证码">
                <img src="{{ imgage_url }}" class="captcha" alt="captcha">
                <input id="id_captcha_0" name="captcha_0" type="hidden" value="{{ hashkey }}">{{ form.captcha }}
            </div>
        </div>
        <div class="form-group dlbu">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-block btn-primary denglu" type="button">登录</button>
            </div>
        </div>
    </form>
</div>

{#注册框#}
<!-- Modal -->
<div class="modal fade" id="reg">
    <div id="zc-dia" class="modal-dialog">
        <div id="zc-con" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">注册账号</h4>
            </div>
            <div id="reg_bd" class="modal-body">
                <form action="/userregist/" method="POST" class="form-horizontal regform">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 required">账号</label>
                        <div class="col-md-6 col-sm-10">
                            <input type="text" class="form-control" name="user_id" data-toggle="reg_id_tip" placeholder="工号(教师或学生账号)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 required">姓名</label>
                        <div class="col-md-6 col-sm-10">
                            <input type="text" class="form-control" name="real_name" data-toggle="reg_name_tip" placeholder="真实姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 required">密码</label>
                        <div class="col-md-6 col-sm-10">
                            <input type="password" class="form-control" name="user_password1" data-toggle="reg_pass_tip" placeholder="密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 required">确认密码</label>
                        <div class="col-md-6 col-sm-10">
                            <input type="password" class="form-control" name="user_password2" data-toggle="reg_repass_tip" placeholder="确认密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">手机号码</label>
                        <div class="col-md-6 col-sm-10">
                            <input type="text" class="form-control norequired" name="mobile" data-toggle="reg_phone_tip" placeholder="手机号码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 required">邮箱</label>
                        <div class="col-md-6 col-sm-10">
                            <input type="email" class="form-control" name="email" data-toggle="reg_email_tip" placeholder="邮箱">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">备注</label>
                        <div class="col-md-6 col-sm-10">
                            <input type="text" class="form-control norequired" name="comment" data-toggle="reg_remark_tip" placeholder="备注">
                        </div>
                    </div>
                    <div id="zfootr" class="form-group">
                        <button type="button" class="btn btn-primary reg_bt">注册</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{#找回密码html#}
<div class="modal fade" id="for">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">找回密码</h4>
            </div>
            <div class="modal-body findp">
                <form class="form-inline">
                    <div class="form-group">
                        <label>邮箱</label>
                        <input type="text" class="form-control" data-toggle="f_email_tip" name="email" placeholder="you@me.com">
                    </div>
                    <div class="form-group">
                        <label>工号</label>
                        <input type="text" class="form-control" data-toggle="f_id_tip" name="f_id" placeholder="1234567">
                    </div>
                    <button type="button" class="btn btn-primary Fpass">找回密码</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<script src="{% static '/js/login.js' %}"></script>
</html>