
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/login_bgx.gif);
}

#dl {
    z-index: 1;
    width: 580px;
    text-align: center;
    margin: 0 auto;
    margin-top: 98px;

}

#dl .login_boder input {
    max-width: 253px;
}

.login_boder {
    background: url(../images/login_m_bg_meitu_2.png) no-repeat center;
    height: 380px;
    width: 535px;
    margin: 0 auto;
    text-align: center;
    padding: 28px 47px 20px 47px;
    overflow: hidden;
    /*position: absolute;*/
    /*position: relative;*/
}

/*form {*/
/*position: relative;*/
/*}*/

.title {
    font-weight: normal;
    z-index: 100;
    font-size: 23px;
    text-align: center;
    margin-bottom: 25px;
    width: 330px;
    height: 44px;
}

.form-group {
    margin-bottom: 25px !important;
    margin-left: 20px !important;
    margin-top: 25px !important;
    /*position: relative;*/
}

.register {
    z-index: 100;
    font-size: 18px;
    background-color: transparent;
    border: none;
    margin-left: -40px;
    /*position: absolute;*/

}

.forget {
    z-index: 100;
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-left: -40px;
    /*position: absolute;*/
}

#id_captcha_1 {
    width: 110px;
}

.captcha {
    /*margin: 0 auto;*/
    margin: -32px 0 0 30px;
    /*margin-left: 25px;*/
    cursor: pointer;
    position: absolute;
    max-height: 33px;
}

.dlbu {
    padding-right: 85px;
    padding-top: 25px;
}

/*注册模块样式*/
#zfootr {
    text-align: center;
    margin-right: 90px;
}

#reg_bd {
    text-align: center;
    padding-left: 120px;
}

#zc-dia {
    width: 560px;
}

/*注册模块样式结束*/
